@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #f9fafb;
}

html.dark {
    background-color: #111827;
    color: #fff;
}

.dark .nav-links a {
    color: #fff;
}
