@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #fafaf9; /* stone-50 */
}

html.dark {
    background-color: #1c1917; /* stone-900 */
    color: #fff;
}

.dark .nav-links a {
    color: #fff;
}
