---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, '');
---

<a
	href={href}
	class:list={[
		'text-gray-700 dark:text-gray-300 hover:text-primary dark:hover:text-primary transition-colors',
		{ 'font-bold text-primary dark:text-primary': isActive },
		className
	]}
	{...props}
>
	<slot />
</a>
