---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, '');
---

<a
	href={href}
	class:list={[
		'text-stone-700 dark:text-stone-200 hover:text-stone-900 dark:hover:text-white transition-colors',
		{ 'font-bold text-stone-900 dark:text-white': isActive },
		className
	]}
	{...props}
>
	<slot />
</a>
