---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, '');
---

<a
	href={href}
	class:list={[
		'text-stone-700 dark:text-stone-300 hover:text-sky-400 dark:hover:text-sky-400 transition-colors',
		{ 'font-bold': isActive },
		className
	]}
	{...props}
>
	<slot />
</a>
